@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bangers', cursive;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgba(154, 163, 173, .6);
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    width: 1100px;
}

section .card{
    position: relative;
    width: 320px;
    height: 320px;
    margin: 20px;
    transform-style: preserve-3d;
    perspective: 1000px;
}

section .card .box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 1s ease;

}

section .card:hover .box{
    transform: rotateY(180deg);
}

section .card .box .imgBx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

section .card .box .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    object-fit: fill;
    border-radius: 13px;
    border: .5 solid crimson;
}

section .card .box .contentBx{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    /* background: #333 !important; */
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    

}

section .card .box .contentBx div{
    transform-style: preserve-3d;
    padding: 45px;
    background: slateblue;
    transform: translateZ(100px);
    border-radius: 10px;
    text-shadow: .3px .5px .75px black;
}

section .card .box .contentBx div.two{
    background: goldenrod;
}
section .card .box .contentBx div.three{
    background: darkolivegreen;
}
section .card .box .contentBx div.four{
    background: red;
}
section .card .box .contentBx div.five{
    background: purple;
}
section .card .box .contentBx div.six{
    background: orange;
}

section .card .box .contentBx div h2{
    color: #f5f5f5;
    font-style: 20px;
    letter-spacing: 1px;
}

section .card .box .contentBx div p{
    color: ghostwhite;
    font-size: 1rem;
    letter-spacing: 1px;

}

